@import url('https://fonts.googleapis.com/css2?family=Anta&family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    /* Fondo blanco */
    color: #444;
    font-family: "Anta", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    /* Añadido para dar más espacio al contenido */
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

#container {
    text-align: center;
}

#drag-drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #2f91af;
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    text-align: center;
    background-color: #f0f0f0;
    /* Color de fondo más claro */
    cursor: pointer;
    width: 80vw;
    height: 15vh;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

#drag-drop-zone:hover {
    background-color: #e0e0e0;
    /* Cambio de color al pasar el cursor */
    border-color: #168794;
}

#file-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

.dancing-script {
    font-family: "Permanent Marker", cursive;
    font-weight: bold;
    align-self: last baseline;
    padding-left: 10px;
    margin-left: 10px;
    color: #1e1e1e;
    font-size: 16px;
    text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff, 4px -4px 2px #fff, -4px 4px 2px #fff, 0 4px 2px #fff, 4px 0 2px #fff, 0 -4px 2px #fff, -4px 0 2px #fff, 4px 4px 10px #fff;
}

#file-list ul>li {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    /* Cambio de color */
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #bcbcbc, -3px -3px 6px #ffffff;
}

#file-list ul>li:hover {
    background-color: #e0e0e0;
    /* Cambio de color al pasar el cursor */
}

#pdf-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pdf-list li {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    /* Cambio de color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #bcbcbc, -3px -3px 6px #ffffff;
}

button {
    font-size: 16px;
    padding: 12px 24px;
    /* Aumento del espacio interno */
    text-align: center;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    /* Aumento del radio de borde */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    /* Sombra más suave */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

button img {
    width: 20px;
    margin-right: 5px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

#merge-button,
#sort-button,
#delete-button {
    background-color: #ffffff;
    color: #444;
}

#merge-button:hover,
#sort-button:hover,
#delete-button:hover {
    background-color: #f5f5f5;
    /* Cambio de color al pasar el cursor */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    /* Sombra más pronunciada */
}

#merge-button img,
#sort-button img,
#delete-button img {
    vertical-align: text-bottom;
    /* Ajuste para centrar verticalmente la imagen */
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    /* Color de línea más claro */
    width: 80vw;
    margin: 20px 0;
    /* Mayor espacio alrededor de la línea */
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* Mayor espacio alrededor del título */
    padding: 0;
    width: 100%;
    font-size: 20px;
    /* Tamaño de fuente más grande */
    font-weight: bold;
    /* Texto en negrita */
    color: #333;
    /* Color de texto más oscuro */
}

#pdf-count {
    margin-left: 10px;
    font-weight: bold;
    color: #2f91af;
    font-size: 16px;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Mayor espacio entre el título y el logo */
    padding: 0;
    width: 100%;
}

.logo img {
    width: 100px;
}

#load-files {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Mayor espacio entre el título y la carga de archivos */
    padding: 20px;
    /* Mayor espacio interno */
    background-color: #f5f5f5;
    /* Color de fondo más claro */
    border: 2px solid #ddd;
    /* Borde más claro */
    border-radius: 10px;
    /* Radio de borde */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    /* Sombra más pronunciada */
}

#load-files:hover {
    background-color: #e0e0e0;
    /* Cambio de color al pasar el cursor */
}